@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">

      <span class="left">
        <h1>KlipTok</h1>
      </span>
			<span class="right">
				<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
			</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
