@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">

      <span class="left">
        <h1><a href="/">KlipTok</a></h1>
      </span>
			<span class="right">
				<a href="/about" class="ml-md-auto">About</a>
        <LoginView />
			</span>


    </div>

    <div class="content px-4">
        @Body
    </div>
</div>