@page "/about"

<h1>About KlipTok</h1>

<p>
  KlipTok was designed to help make clips from Twitch much more discoverable. 
  This site should make interacting with creators and viewers over clips 
  an interesting and fun experience.
</p>