@page "/"
@inject HttpClient Http
@inject IJSRuntime js

Let's look at some clips

<br />

@if (!Clips.Any() || width == 0) {
	<p>Loading...</p>
} else {
	
	var first = true;

	<main>
	@foreach (var clip in Clips)
	{

		<CascadingValue Name="Width" Value="@width">
			<Clip ClipData="@clip" Autoplay="@first"></Clip>
		</CascadingValue>

		first = false;

	}
	</main>
	
}


@code {

	IEnumerable<Models.Clip> Clips = new Models.Clip[] { };

	int width = 0;

	protected override async Task OnInitializedAsync()
	{

		width = await js.InvokeAsync<int>("window.Page.getWidth");

		Clips = await Http.GetFromJsonAsync<IEnumerable<Models.Clip>>("/api/GetClips");

		await base.OnInitializedAsync();

	}

}