@page "/"
@inject HttpClient Http
@inject TwitchUser user  
@inject IJSRuntime js
Let's look at some clips

<br />

@if (!Clips.Any() || width == 0)
{
	<p>Loading...</p>
}
else
{

	var first = true;

<div class="grid-container">
	<div id="followSidebar">
		<h3>Following:</h3>
		<ul>
			<li>pharewings</li>
			<li>FierceKittenz</li>
			<li>VisualStudio</li>
			<li>roberttables</li>
			<li>MrDemonWolf</li>
		</ul>
	</div>
	<main>
		@foreach (var clip in Clips)
		{

			<CascadingValue Name="Width" Value="@width">
				<Clip ClipData="@clip" Autoplay="@first"></Clip>
			</CascadingValue>

			first = false;

		}
	</main>
</div>

}


@code {

	IEnumerable<Models.Clip> Clips = new Models.Clip[] { };

	int width = 0;

	protected override async Task OnInitializedAsync()
	{

		width = await js.InvokeAsync<int>("window.Page.getWidth");

		Clips = await Http.GetFromJsonAsync<IEnumerable<Models.Clip>>($"/api/GetClips?twitchuserid={user.TwitchId}");

		await base.OnInitializedAsync();

	}

}